<% if (post.link) { %>
    <div class="article-type">		  
            <span class="article-type type-1">原创</span>  
    </div>
<% } else if (post.title) { %>
    <div class="article-type">		  
            <span class="article-type type-1">原创</span>  
    </div>
<% } %>