<footer id="footer">
    <div class="outer">
        <div id="footer-expand-info" class="row" style="text-align: left;">
            <div class="col-md-3 col-sm-6">
                <!--关注我们-->
                <div class="widget-wrap widget-list">
                    <h3 class="widget-title">其他平台</h3>
                    <div class="widget">
                        <ul>
                            <li class="foot-li">
                                <a href="https://github.com/dyc87112">Github</a>
                            </li>
                            <li class="foot-li">
                                <a href="http://gitee.com/didispace">码云</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--联系合作-->
                <div class="widget-wrap widget-list">
                    <h3 class="widget-title">联系合作</h3>
                    <div class="widget">
                        <ul>
                            <li class="foot-li">
                                <a href="#">微信：glj88258</a>
                            </li>
                            <li class="foot-li">
                                <a href="#">QQ：1175327069</a>
                            </li>
                            <li class="foot-li">
                                <a href="#">邮箱：1175327069@qq.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!--友情链接-->
                
                <div class="widget-wrap widget-list">
                    <h3 class="widget-title">友情链接</h3>
                    <div class="widget">
                        <ul>
                            <span class="label">
                                <a target="_blank" href="http://cmsblogs.com/">chenssy</a>
                            </span>

                             <span class="label">
                                <a target="_blank" href="http://blog.didispace.com/">程序猿DD</a>
                            </span>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6">
                <!--联系合作-->
                <div class="widget-wrap widget-list">
                    <h3 class="widget-title">我的公众号</h3>
                    <div class="widget">
                        <img style="width: 150px;height: 150px;" src="/css/images/qrcode_for_gh.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div id="footer-base-info">
            <div class="copy-info">
                © 2018 顾立剑 版权所有<br>
            </div>
            <div class="busuanzi-info">
                <span id="busuanzi_container_site_pv" style="display: inline;">访问量<span class="foot-count" id="busuanzi_value_site_pv">5868330</span>次</span>
                <span id="busuanzi_container_site_uv" style="display: inline;">访客数<span class="foot-count" id="busuanzi_value_site_uv">359288</span>人次</span>
                <br>
                <span style="color: #888">苏ICP备15055047号-3</span>
            </div>
        </div>
    </div>
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
</footer>